<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgs.biddingfd.mapper.PbFileImgInfoMapper">

    <select id="imgInfo" resultType="String">
        SELECT file_md5 FROM
        pb_file_img_info
        WHERE object_id=#{objectId}
    </select>

</mapper>
