<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgs.biddingfd.mapper.PbObjectInfoMapper">

    <resultMap id="test" autoMapping="true" type="com.bgs.biddingfd.pojo.PbObjectInfo">
        <id column="object_id" property="objectId"></id>
        <collection property="pbItemInfo" autoMapping="true" ofType="com.bgs.biddingfd.pojo.PbItemInfo">
            <id column="item_id" property="itemId"></id>
        </collection>
        <collection property="pbApplyInfo" autoMapping="true" ofType="com.bgs.biddingfd.pojo.PbApplyInfo">
            <id column="item_id" property="itemId"></id>
        </collection>
    </resultMap>
    <!--PbObjectInfo ShowObject(Integer objectId);-->
    <select id="ShowObject" resultMap="test">
        SELECT
            *
        FROM
            pb_object_info poi
            LEFT JOIN pb_item_info pii ON pii.item_id = poi.item_id
            LEFT JOIN pb_apply_info pai ON pai.apply_id = poi.priority_apply_id
        WHERE
            poi.object_id = #{objectId};
    </select>

    <!--List<PbObjectInfo> showAllPbObjectInfo();-->
    <select id="showAllPbObjectInfo" resultType="com.bgs.biddingfd.pojo.PbObjectInfo">
        select * from pb_object_info;
    </select>

</mapper>
